<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Astral Classification System</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&family=Montserrat:wght@100;300;400;500;700&family=Rubik:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="navbar">
      <nav>
        <a href="{% url 'homeView' %}" class="logo">
          <img src="{% static 'Pics/Logo.svg'%}" class="logo">
        </a>
        <ul class="nav-links">
          <li><a href="{% url 'dashboardView' %}">Classify</a></li>
                    <li><a href="{% url 'resultView' %}">Results</a></li>
                    <li class="signup"><a href="{% url 'logout' %}">Log Out</a></li>
        </ul>
      </nav>
    </div>
    <div class="head">
      <h1 id="classify-head">Classify Your Data</h1>
    </div>
    <div>
      <div class="classifier">
        <form method='post'>
          {% csrf_token %}
          <div class="dash-row">
            <div class="dash-col">
              <h4>Ultraviolet Filter</h4>
              <input class="dash-input" name="ultraviolet" type="number" step="0.01" placeholder="Ultraviolet Filter" required>
            </div>
            <div class="dash-col">
              <h4>Green Filter</h4>
              <input class="dash-input" name="green" type="number" step="0.01" placeholder="Green Filter" required>
            </div>
            <div class="dash-col">
              <h4>Near Infrared Filter</h4>
              <input class="dash-input" name="near" type="number" step="0.01" placeholder="Near Infrared Filter" required>
            </div>
          </div>
          <div class="dash-row">
            <div class="dash-col">
              <h4>Red Filter</h4>
              <input class="dash-input" name="red" type="number" step="0.01" placeholder="Red Filter" required>
            </div>
            <div class="dash-col">
              <h4>Infrared Filter</h4>
              <input class="dash-input" name="infrared" type="number" step="0.01" placeholder="Infrared Filter" required>
            </div>
            <div class="dash-col">
              <h4>Modified Julian Date</h4>
              <input class="dash-input" name="julian" type="number" step="0.01" placeholder="Modified Julian Date" required>
            </div>
          </div>
          <div class="dash-row">
            <div class="dash-col">
              <h4>Spectroscopic Object ID</h4>
              <input class="dash-input" name="spectroscopic" type="number" step="0.01" placeholder="Spectroscopic Objects ID"
                required>
            </div>
            <div class="dash-col">
              <h4>Redshift Value</h4>
              <input class="dash-input" name="redshift" type="number" step="0.01" placeholder="Redshift Value" required>
            </div>
            <div class="dash-col">
              <h4>Plate ID</h4>
              <input class="dash-input" name="plate" type="number" step="0.01" placeholder="Plate ID" required>
            </div>
          </div>
          <div class="dash-row">
            <input type="submit" class="button" value="Get Results">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>