{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Astral Classification System{% endblock title %}

{%block content%}
<div class="container">
  <div class="login-box">
    <div class="row">
      <div class="col">
        <h1>Register</h1>
        <h2>Create your account to get started!</h2>
        <p>Register for an account to access exclusive features and personalized content. It's quick and easy – just
          fill out the form to get started!</p>
      </div>
      <div class="col">
        <a href="{% url 'homeView' %}" class="login-logo">
          <img src="{% static 'Pics/Logo.svg'%}" class="login-logo">
        </a>
        <form method='post'>
          {% csrf_token %}

          <div class="field">
            <div class="control">
              {{form.username|attr:"placeholder:username"|add_class:"input is-medium"}}
            </div>
            {% if form.username.errors %}
            <div class="help is-danger">{{ form.username.errors }}</div>
            {% endif %}
          </div>

          <div class="field">
            <div class="control">
              {{form.email|attr:"placeholder:email"|add_class:"input is-medium"}}
            </div>
            {% if form.email.errors %}
            <div class="help is-danger">{{ form.email.errors }}</div>
            {% endif %}
          </div>

          <div class="field">
            <div class="control">
              {{form.password1|attr:"placeholder:password"|add_class:"input is-medium"}}
            </div>
            {% if form.password1.errors %}
            <div class="help is-danger">{{ form.password1.errors }}</div>
            {% endif %}
          </div>

          <div class="field">
            <div class="control">
              {{form.password2|attr:"placeholder:confirm password"|add_class:"input is-medium"}}
            </div>
            {% if form.password2.errors %}
            <div class="help is-danger">{{ form.password2.errors }}</div>
            {% endif %}
          </div>

          <input type="submit" value='Register' class="button is-block is-primary is-fullwidth is-medium" />
        </form>
        <p id="subtext">I have an <a href="{% url 'loginView' %}">account.</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}