 
{% extends 'base.html' %} 
{% load widget_tweaks %}

{% block title %}Register{% endblock title %} 

{%block  content%} 
<section class="container">
    <div class="columns is-multiline">
      <div class="column is-8 is-offset-2 register">
        <div class="columns">
          <div class="column left">
            <h1 class="title is-1">Join.</h1>
            <h2 class="subtitle colored is-4">Lorem ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
               incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
          <div class="column right has-text-centered">
            <h1 class="title is-4">LOGO</h1> 

            <form method='post'>
                {% csrf_token %}

              <div class="field">
                <div class="control"> 
                  {{form.username|attr:"placeholder:username"|add_class:"input is-medium"}}
                </div>
                {% if form.username.errors %}
                     <div class="help is-danger">{{ form.username.errors }}</div>
                 {% endif %}
              </div>

              <div class="field">
                <div class="control">
                    {{form.email|attr:"placeholder:email"|add_class:"input is-medium"}}
                </div>
                {% if form.email.errors %}
                <div class="help is-danger">{{ form.email.errors }}</div>
            {% endif %}
              </div> 

              <div class="field">
                <div class="control">
                    {{form.password1|attr:"placeholder:password"|add_class:"input is-medium"}}
                </div>
                {% if form.password1.errors %}
                <div class="help is-danger">{{ form.password1.errors }}</div>
            {% endif %}
              </div> 

              <div class="field">
                <div class="control">
                    {{form.password2|attr:"placeholder:confirm password"|add_class:"input is-medium"}}
                </div>
                {% if form.password2.errors %}
                <div class="help is-danger">{{ form.password2.errors }}</div>
            {% endif %}
              </div> 

              <input type="submit" value='join' class="button is-block is-primary is-fullwidth is-medium"/>  
            </form> 
            <p>I have an <a href="{% url 'loginView' %}">account.</a></p>

          </div>
        </div>
      </div>
     
    </div>
  </section>
 
<style>
  :root {
    --brandColor: hsl(166, 67%, 51%);
    --background: rgb(247, 247, 247);
    --textDark: hsla(0, 0%, 0%, 0.66);
    --textLight: hsla(0, 0%, 0%, 0.33);
  }

  body {
    background: var(--background);
    height: 100vh;
    color: var(--textDark);
  }

  .field:not(:last-child) {
    margin-bottom: 1rem;
  }

  .register {
    margin-top: 10rem;
    background: white;
    border-radius: 10px;
  }

  .left,
  .right {
    padding: 4.5rem;
  }

  .left {
    border-right: 5px solid var(--background);
  }

  .left .title {
    font-weight: 800;
    letter-spacing: -2px;
  }

  .left .colored {
    color: var(--brandColor);
    font-weight: 500;
    margin-top: 1rem !important;
    letter-spacing: -1px;
  }

  .left p {
    color: var(--textLight);
    font-size: 1.15rem;
  }

  .right .title {
    font-weight: 800;
    letter-spacing: -1px;
  }

  .right .description {
    margin-top: 1rem;
    margin-bottom: 1rem !important;
    color: var(--textLight);
    font-size: 1.15rem;
  }

  .right small {
    color: var(--textLight);
  }

  input {
    font-size: 1rem;
  }

  input:focus {
    border-color: var(--brandColor) !important;
    box-shadow: 0 0 0 1px var(--brandColor) !important;
  }

  .fab,
  .fas {
    color: var(--textLight);
    margin-right: 1rem;
  }

</style>

{% endblock %}